site_name: Immersion-Based Language Learning
site_url: https://github.com/Timm04/immersion-based-language-learning
repo_url: https://github.com/Timm04/immersion-based-language-learning.git
site_author: Timm
repo_name: Open a pull request
nav:
  - 'Foreword':
    - Home: 'index.md'
    - Guide: 'Introduction/navigation help.md'
    - Motivation: 'Introduction/problematic surrounding immersion.md'
  - 'Prerequisites':
    - Lead In: 'Tradtional methods/lead in.md'
    - Traditional Method: 'Tradtional methods/Methods.md'
    - How Natives Are Made: 'Native Language/how natives are made.md'
  - 'Immersion Guide':
    - Definition of Immersion: 'Definition of immersion/immersion definition.md'
    - Core Concepts of Immersion: 'Immersion/core concepts of immersion.md'
    - 'Mining':
      - Tools to start: 'Immersion/How to start Immersion - Mining.md'
      - Read the sentence: 'Mining/step 1 read the sentence.md'
      - Check your understanding: 'Mining/step 2 comprehension check.md'
      - Use Yomitan: 'Mining/step 3 yomitan.md'
      - Reread the sentence: 'Mining/step 4 reread sentence.md'
      - Mining: 'Mining/step 5 mine it.md'
      - Spend more time to understand: 'Mining/step 6 spending more time.md'
      - Moving on after not understanding: 'Mining/step 7 move on.md'
      - Overview: 'Immersion/mining notes.md'
    - Types of Immersion: 'Immersion/types of immersion.md'
    - Anki in Immersion: 'Immersion/Anki in Immersion.md'
    - Overall Insights on Immersion Media: 'Immersion/roadmap.md'
    - Manage your Immersion: "Immersion/routine manager.md"
theme:
  name: material
  features:
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - content.tabs.link
    - palette.toggle
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
markdown_extensions:
  - abbr
  - toc:
        permalink: true
        toc_depth: 2-4
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
extra_css:
  - css/extra.css
extra_javascript:
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - js/mermaid-init.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: false
      type: date
