site_name: Immersion Guide
site_url: https://github.com/Timm04/immersion-guide
repo_url: https://github.com/Timm04/immersion-guide.git
site_author: Timm
repo_name: Open a pull request
nav:
  - Home: 'index.md'
  - How to Use This Guide: 'Introduction/navigation help.md'
  - Why Mindset Matters: 'Introduction/problematic surrounding immersion.md'
  - 'Before You Begin':
    - Lead In: 'Tradtional methods/lead in.md'
    - Why Traditional Methods Fail: 'Tradtional methods/Methods.md'
    - The Native Language Approach: 'Native Language/how natives are made.md'
  - 'Immersion Method':
    - Defining Immersion: 'Definition of immersion/immersion definition.md'
    - Getting Started: 'Immersion/requirements immersion.md'
    - Core Principles: 'Immersion/core concepts of immersion.md'
    - How to Start Immersion: 'Immersion/How to start Immersion - Mining.md'
    - 'Mining Step-by-Step':
      - Mining Overview: 'Immersion/mining notes.md'
      - Read the Sentence: 'Mining/step 1 read the sentence.md'
      - Check Your Understanding: 'Mining/step 2 comprehension check.md'
      - Use Yomitan: 'Mining/step 3 yomitan.md'
      - Reread the Sentence: 'Mining/step 4 reread sentence.md'
      - How to Mine: 'Mining/step 5 mine it.md'
      - Spend more Time to Understand: 'Mining/step 6 spending more time.md'
      - Moving on After not Understanding: 'Mining/step 7 move on.md'
      - Appendix for Mining: 'Immersion/appendix mining.md'
    - Reading vs. Listening: 'Immersion/types of immersion.md'
    - Using Anki in Immersion: 'Immersion/Anki in Immersion.md'
    - Choosing Immersion Content: 'Immersion/roadmap.md'
    - Managing Your Routine: "Immersion/routine manager.md"
theme:
  icon:
    repo: fontawesome/brands/github
  name: material
  features:
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - content.tabs.link
    - palette.toggle
    - navigation.instant
    - navigation.instant.progress
    - search.suggest
    - search.highlighting
    - search.share
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - abbr
  - toc:
        permalink: true
        toc_depth: 2-4
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
extra_css:
  - css/extra.css
extra_javascript:
  - js/image-lightbox.js
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - js/mermaid-init.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: false
      type: date
